body {			/* définition du style pour le body  de la page */
    background-image: url(../Image/fondImage.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    padding:auto;
}


label{
    color: rgb(15, 15, 15);
}


li{
    color: rgb(13, 13, 14);
    
}


/* Le menu de navigation */
.navbar {
    overflow: hidden;
    background-color: #45A29E;
    width: 100%;

  }
      
  /* Liens de navigation */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
      
  /* Le menu de sous-navigation */
  .subnav {
   float: left;
   overflow: hidden;
  }
      
  /* Bouton de sous-navigation */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
      
  /* Ajoute une couleur d'arriére-plan bleu aux liens de navigation au survol */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: darkslateblue;
  }
    
  /* Ajouter une couleur de fond bleu au survol */
  .subnav-content a:hover {
    background-color:darkslateblue;
    color: black;
  }
      
  /* Lorsque on déplace la souris sur le conteneur subnav, sa ouvre le contenu subnav */
  .subnav:hover .subnav-content {
    display: block;
  }
  
  /* Style du contenu de sous-navigation - positionné en absolu */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:cadetblue;
    width: 100%;
    z-index: 1;
  }


  ul{         /*  gére le ul présent dans le html pour que mes images laissent pas de points à côté */
    padding: 1vw;
    list-style-type: none;
  /*  border: 1vh dashed black;*/
  }
 
 
.footer-basic { /*  conteneur du footer avec sa couleur */
  margin-top: 800px;
  padding:40px 0;
  background-color:#45A29E;

}

.footer-basic ul {   /*  s'occupe du conteneur des liens iim */
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {   /*  s'occupe individuellement des liens iim */
  padding:0 10px;
  color: azure;
}

.footer-basic ul a {    /*  s'occupe du texte */
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {   /*  s'occupe de opacité */
  opacity:1;
}

.footer-basic .social {    /*  permet de s'occuper des icones linkedin et guit hub  pour positionner et autres */
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {   /*  gére aussi les icones */
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #cccccc00;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover { /*  gére aussi les icones */
  opacity:0.9;
}

.footer-basic .copyright { /*  gére mon nom tout en bas */
  margin-top:15px;
    text-align:center;
    font-size:13px;
    color: azure;
    margin-bottom:0;
}

 
  

